*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: linear-gradient(to top right, lime, yellow, orange, magenta, purple);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 40px;
    margin: 10px;
}
#timer {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}


#start-btn {
    font-size: 30px;
    font-weight: bold;
    border-style:double;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    padding: 10px;
    margin:30px;
    background-image: -webkit-radial-gradient(lightcyan, aqua, teal);
    cursor: pointer;
}
#start-btn:hover {
    background-image: -webkit-radial-gradient(lightblue, aqua,mediumblue);
}

#quiz {
    background-image: -webkit-radial-gradient(white, gray);
    border-style:double;
    border-color: black;
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
}
 
#question {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

#answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-image: -webkit-radial-gradient(white, grey);
    border-style:double;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    font-size:15px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    }

#input-score-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#border {
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
    background-image:-webkit-radial-gradient(white,gray);
    margin: 10px;
}

#initial-label {
font-size: 20px;
font-weight: bold;
margin: 10px;
}

#initial-input {
    font-size: 20px;
    border-width: 5px;
    margin:10px;
    text-transform: capitalize;
}

#submit-btn {
    font-size: 25px;
    font-weight: bold;
    border-style:double;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    background-image: -webkit-radial-gradient(lightcyan, aqua, teal);
}
#submit-btn:hover {
    background-image: -webkit-radial-gradient(lightblue, aqua,mediumblue);
}

h2 {
    font-size: 20px;
    text-decoration: underline;
}
#view-high-scores {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin:10px;
}

.show {
    display: block;
}
.hide {
    display: none;
}